.editor {
  background-color: #1d1e22;
  height: 100%;
  color: #b7bbc8;
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
}
.editor__label {
  margin-top: 10px;
  padding: 30px;
  font-family: tahoma;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.editor__input {
  background-color: #1d1e22;
  height: 100%;
  color: #b7bbc8;
  width: 100%;
  border: 0;
  padding: 30px 10px 10px;
  outline: 0;
  box-sizing: border-box;
  display: none;
}
