.preview {
  background-color: #191919;
  height: 100%;
  color: #b7bbc8;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  overflow-y: auto;
}
.preview div {
  width: 99.89%;
}
.preview__heading {
  padding: 0 0 10px 30px;
  font-family: tahoma;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
.results {
  padding: 20px;
}
